body {
    background-color: #777;
    color: #333;
    font-size: 16px;
    font-family: sans-serif;
}

.board {
    position: relative;
    margin: 10% auto;
    background-color: #f1f1f9;
    width: 451px;
    height: 451px;
    border-radius: 100%;
}

.buttons {
    display: inline-block;
    border: 10px solid #333;
    height: 188px;
    width: 188px;
    margin-top: 10px;
    margin-left: 10px;
}

.lighter {
    background-color: white !important;
}

.error {
    background-color: darkred !important;
}

#green {
    border-top-left-radius: 100%;
    background-color: green;
}

#red {
    border-top-right-radius: 100%;
    background-color: red;
}

#yellow {
    border-bottom-left-radius: 100%;
    background-color: yellow;
}

#blue {
    border-bottom-right-radius: 100%;
    background-color: blue;
}

.center {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: #f1f1f9;
    border-radius: 100%;
    width: 50%;
    height: 50%;
    border: 10px solid #333;
}

.center h1 {
    font-size: 36px;
    text-align: center;
}

.controls {
    margin-top: 25px;
}

.result {
    display: inline-block;
    float: left;
    background-color: maroon;
    width: 48px;
    height: 32px;
    border: 4px solid #333;
    border-radius: 10px;
    margin-left: 16px;
    text-align: center;
}

#level {
    color: white;
    opacity: .8;
    font-family: monospace;
    font-size: 20px;
    margin-top: 3px;
}

#start {
    display: inline-block;
    float: left;
    margin-left: 30px;
}

#start button {
    background-color: firebrick;
}

#start button, #strict button {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: 3px solid #333;
    outline: none;
    margin-top: 2px;
}

#strict {
    display: inline-block;
    float: left;
    margin-left: 30px;
}

#strict button {
    background-color: gold;
}

#strict.active button{
    background-color: orange;
}

.titles {
    clear: both;
    font-weight: 600;
    padding-top: 5px;
}

.titles span {
    margin-left: 24px;
}

.titles span:nth-child(2) {
    margin-left: 32px;
}

.switcher {
    width: 120px;
    height: 28px;
    margin: 15px auto 0 auto;
}

.off {
    float: left;
    margin-right: 4px;
}

.on {
    float: right;
    margin-right: 3px;
}

.off, .on {
    font-size: 14px;
    font-weight: 600;
    padding-top: 5px;
}

.box {
    display: inline-block;
    background-color: #333;
    height: 28px;
    width: 58px;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 2px;
    padding-left: 2px;
    cursor: pointer;
}

.switch {
    background-color: dodgerblue;
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

.switch.active {
    margin-left: 30px;
}

@media all and (max-width: 650px) {
    .board {
        margin: 20% auto;
    }
}





